/* Waline >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#waline .wl-login-info {
  --at-apply: 'mr-3 mt-0'
}
#waline .wl-avatar {
  --at-apply: 'border-none'
}
#waline .wl-logout-btn {
  --at-apply: 'z-99'
}
#waline .wl-login-nick:not(:has(img)) {
  --at-apply: 'mt-1.4 leading-3.6';
}
#waline .wl-panel {
  --at-apply: 'm-0 border-secondary/25 rounded-lg bg-transparent'
}
#waline .wl-header {
  --at-apply: 'p-0';
}
#waline .wl-header-item {
  --at-apply: 'border-b border-primary/25 border-solid';
}
#waline .wl-header label {
  --at-apply: 'text-3';
}
#waline .wl-header input {
  --at-apply: 'text-2.8';
}
#waline .wl-card,
#waline .wl-header.item3 {
  --at-apply: 'border-b-0';
}
#waline .wl-card .wl-quote {
  --at-apply: 'mt-4 border-is-none';
}
#waline .wl-editor {
  --at-apply: 'min-h-20';
}
#waline .wl-editor::placeholder {
  --at-apply: 'c-primary/25';
}
#waline .wl-footer {
  --at-apply: 'm-2';
}
#waline .wl-text-number,
#waline .wl-action[title="Markdown Guide"],
#waline .wl-sort,
#waline .wl-gallery::-webkit-scrollbar {
  --at-apply: 'hidden';
}
#waline .wl-emoji-popup {
  --at-apply: 'start-0 max-w-532px border-secondary/25';
}
#waline .wl-emoji-popup .wl-tab-wrapper {
  scrollbar-width: thin;
}
#waline .wl-gif-popup {
  --at-apply: 'border-secondary/25';
}
#waline .wl-gif-popup input {
  --at-apply: 'border-secondary/25 bg-background';
}
#waline .wl-gif-popup input::placeholder {
  --at-apply: 'text-3.5 c-secondary/30';
}
#waline .wl-gallery {
  --at-apply: 'scrollbar-hidden';
}
#waline .wl-btn {
  --at-apply: 'duration-150 hover:border-secondary/80';
}
#waline .wl-meta-head {
  --at-apply: 'px-0 py-3';
}
#waline .wl-card-item {
  --at-apply: 'px-0 py-1';
}
#waline .wl-user-avatar {
  --at-apply: 'mt-1';
}
#waline .wl-content p {
  --at-apply: 'text-3.5 leading-6';
}
#waline .wl-time {
  --at-apply: 'c-primary/75';
}
#waline .wl-edit,
#waline .wl-delete {
  --at-apply: 'mr-0.4';
}
#waline .wl-like {
  --at-apply: 'mr-1.2';
}
