---
import { themeConfig } from '~/.config'

interface Props {
  path: string
}

const { path } = Astro.props

const walineConfig = {
  el: '#waline',
  serverURL: themeConfig.comment?.waline?.serverURL,
  path: path,
  lang: 'zh-CN'
}
---

<div id="waline"></div>

<link 
  rel="stylesheet"
  href="https://unpkg.com/@waline/client@v3/dist/waline.css"
/>

<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
  
  init({
    el: '#waline',
    serverURL: '${themeConfig.comment?.waline?.serverURL}',
    path: '${path}',
    lang: 'zh-CN'
  });
</script>